Django==5.1.4
gunicorn==23.0.0
whitenoise==6.8.2
django-jazzmin==3.0.1
django-storages[s3]==1.14.4
boto3==1.35.85
Pillow==11.1.0
python-dotenv==1.0.1
dj-database-url==2.3.0
psycopg[binary]==3.2.3
django-browser-reload
